<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <stage-object>      
      <p>Please enable JavaScript</p>
    </stage-object>
    <script src="index.bundle.js"></script>
  </body>
</html>

